<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.code.albert.evilmemory">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="de.test.READ_DATABASE" />
    <uses-permission android:name="de.test.WRITE_DATABASE" />

    <uses-feature
        android:name="android.hardware.sensor.light"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b024038b5dc0c3ccf0dc96a3fc6abbaef2f7dca2" />

        <activity android:name=".activities.NavigationDrawer" />
        <activity android:name=".activities.other.ImgActivity" />
        <activity android:name=".activities.Signin" />
        <activity android:name=".activities.EditProfile" />
        <activity android:name=".activities.GPSActivity" />
        <activity android:name=".activities.Calculator" />
        <activity android:name=".activities.MediaPlayer" />

        <service
            android:name=".service.BoundService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activities.Memory4" />
        <activity android:name=".activities.Memory6" />
        <activity android:name=".activities.Memory8" />
        <activity android:name=".activities.Ranking" />
        <activity android:name=".fragments.Ranking4"></activity>
    </application>

</manifest>